<template name="ReporteGasto">

<div class="row">
<div class="col-lg-12">
<h1>Reporte</h1>
<div class="panel panel-info">
    <div class="panel-heading">
        <center><h3>PLANILLA POR GASTOS DE MOVILIDAD</h3></center>
    </div>
    <div class="panel-body">
          <span>
            Estado: {{data.estado}}
          </span>
          <style type="text/css">
          .tg  {border-collapse:collapse;border-spacing:0;border-color:#aaa;}
          .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aaa;color:#333;background-color:#fff;}
          .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aaa;color:#fff;background-color:#f38630;}
          .tg .tg-yw4l{vertical-align:top}
          </style>
          <table class="tg">
            <col width="50">
            <col width="200">
            <col width="100">
            <tr>
              <th class="tg-yw4l">Fecha</th>
              <th class="tg-yw4l">Usuario</th>
              <th class="tg-yw4l">Area</th>
              <th class="tg-yw4l">Cliente</th>
              <th class="tg-yw4l">Motivo</th>
              <th class="tg-yw4l">Partida<br></th>
              <th class="tg-yw4l">Destino<br></th>
              <th class="tg-yw4l">Hora</th>
              <th class="tg-yw4l">Refact</th>
              <th class="tg-yw4l">Costo Area<br></th>
              <th class="tg-yw4l">Costo Estudio<br></th>
            </tr>
            {{#with data}}
            <tr>
              <td class="tg-yw4l">{{fechaDate}}</td>
              <td class="tg-yw4l">{{nombre.nombre}}</td>
              <td class="tg-yw4l">{{nombre.area}}</td>
              <td class="tg-yw4l">{{cli}}</td>
              <td class="tg-yw4l">{{mot}}</td>
              <td class="tg-yw4l">{{origen}}</td>
              <td class="tg-yw4l">{{destino}}</td>
              <td class="tg-yw4l">{{hora}}</td>
              <td class="tg-yw4l">{{#if $eq costo 'R'}}X{{/if}}</td>
              <td class="tg-yw4l">{{#if $eq costo 'A'}}X{{/if}}</td>
              <td class="tg-yw4l">{{#if $eq costo 'C'}}X{{/if}}</td>
            </tr>
            {{/with}}
          </table>  
          <br/>
          <table class="tg">
            <tr>
              <th class="tg-ym4l">Moneda</th>
              <th class="tg-yw4l">Importe</th>
              <th class="tg-yw4l">Recibido</th>
              <th class="tg-yw4l">Gastado</th>
              <th class="tg-yw4l">Devolución</th>
            </tr>
            {{#with data}}
            <tr>
              <td class="tg-yw4l">{{moneda}}</td>
              <td class="tg-yw4l">{{monto}}</td>
              <td class="tg-yw4l">{{recibido}}</td>
              <td class="tg-yw4l">{{gastado}}</td>
              <td class="tg-yw4l">{{dif}}</td>
            </tr>
            {{/with}}
          </table>  



  </div>
  <div class="panel-foot">
    <div class="row">
        <div class="col-lg-2">
            <a class="btn btn-success" href="{{$.Session.get 'pag_ant'}}">
                <i class="fa fa-hand-o-left" aria-hidden="true"></i>  Regresar</a>
        </div>
    </div>
</div>
</div>

</div>
</div>

<div class="row">
<div class="col-lg-10">
  {{#if autorizador}}
  <button class="btn btn-primary" id="btnAceptar"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Aceptar</button>
  <button class="btn btn-danger" id="btnCancelar"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> Rechazar</button>
  {{/if}}
  <!-- <button class="btn btn-warning" id="btnPdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> PDF</button> -->
</div>
</div>


    {{#if esDarDinero}}
    <div class="row">
        <div class="col-lg-10">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <a name="tesoreria" id="tesoreria">Tesorería</a>
                </div>
                <div class="panel-body">
                  <!--
                    <form> {{#with data}}
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-3">
                                    <label for="editMoneda">Moneda</label>
                                    <input type="text" class="form-control" name="editMoneda" value="{{moneda}}" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                <label for="editMonto">Monto</label>
                                <input type="text" class="form-control" name="editMonto" value="{{monto}}" disabled>
                                </div>
                                <div class="col-lg-3">
                                <label for="editRecibido">Entregado</label>
                                <input type="text" class="form-control" name="editRecibido" value="{{recibido}}">
                                </div>
                            </div>
                            <div class="row">
                                <div>
                                    <button class="btn btn-primary" type="submit" id="btnEditarMonto">Enviar</button>
                                </div>
                            </div>

                        </div>
                    {{/with}} </form> 
                  -->
                  {{#autoForm id="tesoreriaSolicitudForm" collection="Solicitudes" type="update" doc=data validation="submit"}}
                            <div class="row">
                                <div class="col-lg-3">
                                  {{> afQuickField name='moneda' disabled=true}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                  {{> afQuickField name='monto' disabled=true}}
                                </div>
                                <div class="col-lg-3">
                                  {{> afQuickField name='recibido' optional=false }}
                                </div>
                            </div>
                            <div class="row">
                                <div>
                                    <button class="btn btn-primary" type="submit" id="btnEditarMonto">Enviar</button>
                                </div>
                            </div>

                  {{/autoForm}}

                </div>
                <!-- /.panel body -->    

            </div>
            <!-- /.panel -->    
        </div>
        <!-- /.col -->    
    </div>
    {{/if}}
    <!-- /.row -->    

    {{#if esRendirCuenta}}
    <div class="row">
        <div class="col-lg-10">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <a name="rendir" id="rendir">Rendir Cuenta</a>
                </div>
                <div class="panel-body">
                    <form> {{#with data}}
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-3">
                                    <label for="editMoneda">Moneda</label>
                                    <input type="text" class="form-control" name="editMoneda" value="{{moneda}}" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <label for="editMonto">Monto</label>
                                    <input type="text" class="form-control" name="editMonto" value="{{monto}}" disabled>
                                </div>
                                <div class="col-lg-3">
                                    <label for="editRecibido">Recibido</label>
                                    <input type="text" class="form-control" name="editRecibido" value="{{recibido}}" disabled>
                                </div>
                                <div class="col-lg-3">
                                    <label for="editGastado">Gastado</label>
                                    <input type="text" class="form-control" name="editGastado" value="{{gastado}}">
                                </div>
                            </div>
                            <div class="row">
                                <div>
                                    <button class="btn btn-primary" type="submit" id="btnRendirCuenta">Rendir</button>
                                </div>
                            </div>

                        </div>
                    {{/with}} </form> 
                    
                </div>
                <!-- /.panel body -->    
            </div>
            <!-- /.panel -->    
        </div>
        <!-- /.col -->    
    </div>
    {{/if}}
    <!-- /.row -->    

    <!--
    <hr/>

    <iframe name="framepdf" >

    </iframe>

    -->
</template>