<template name="ReporteGasto">

<div class="row">
<div class="col-lg-10">
<h1>Reporte</h1>
<div class="panel panel-info">
    <div class="panel-heading">
        <center><h3>PLANILLA POR GASTOS DE MOVILIDAD</h3></center>
    </div>
    <div class="panel-body">
          <style type="text/css">
          .tg  {border-collapse:collapse;border-spacing:0;border-color:#aaa;}
          .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aaa;color:#333;background-color:#fff;}
          .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aaa;color:#fff;background-color:#f38630;}
          .tg .tg-yw4l{vertical-align:top}
          </style>
          <table class="tg">
            <col width="50">
            <col width="200">
            <col width="100">
            <tr>
              <th class="tg-yw4l">Fecha</th>
              <th class="tg-yw4l">Usuario</th>
              <th class="tg-yw4l">Area</th>
              <th class="tg-yw4l">Cliente</th>
              <th class="tg-yw4l">Motivo</th>
              <th class="tg-yw4l">Partida<br></th>
              <th class="tg-yw4l">Destino<br></th>
              <th class="tg-yw4l">Hora</th>
              <th class="tg-ym4l">Moneda</th>
              <th class="tg-yw4l">Importe</th>
              <th class="tg-yw4l">Recibido</th>
              <th class="tg-yw4l">Gastado</th>
              <th class="tg-yw4l">Refact</th>
              <th class="tg-yw4l">Costo Area<br></th>
              <th class="tg-yw4l">Costo Estudio<br></th>
            </tr>
            {{#with data}}
            <tr>
              <td class="tg-yw4l">{{fechaDate}}</td>
              <td class="tg-yw4l">{{nombre.nombre}}</td>
              <td class="tg-yw4l">{{nombre.area}}</td>
              <td class="tg-yw4l">{{cli}}</td>
              <td class="tg-yw4l">{{mot}}</td>
              <td class="tg-yw4l">{{origen}}</td>
              <td class="tg-yw4l">{{destino}}</td>
              <td class="tg-yw4l">{{hora}}</td>
              <td class="tg-yw4l">{{moneda}}</td>
              <td class="tg-yw4l">{{monto}}</td>
              <td class="tg-yw4l">{{recibido}}</td>
              <td class="tg-yw4l">{{gastado}}</td>
              <td class="tg-yw4l"></td>
              <td class="tg-yw4l"></td>
              <td class="tg-yw4l"></td>
            </tr>
            {{/with}}
          </table>  
  </div>
</div>

</div>
</div>

</template>