<template name="SolicitudView">
    <!-- /.row -->



    <div class="row">
        <div class="col-lg-10">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>Solicitud</h4>
                    <span class="text_estado {{estadoObj.estado}}">{{estadoObj.desc}}</span>
                </div>
                <div class="panel-body">
        <!-- {{> quickForm collection="Solicitudes" id="insertSolicitudForm" type="insert" doc=byDefault}}        -->
        {{#autoForm id="viewSolicitudForm" collection="Solicitudes" type="disabled" doc=byDefault}}

        <div class="row">
            <div class="col-lg-3">
            {{> afQuickField name='num'}}
            </div>
        </div>

        <hr/>

        {{> SolicitudFields}}

        {{/autoForm}}                    
                </div>
                <!-- /.panel-body -->
                <div class="panel-foot">
                    <div class="row">
                        <div class="col-lg-2">
                            <a class="btn btn-success" href="{{$.Session.get 'pag_ant'}}">
                                <i class="fa fa-hand-o-left" aria-hidden="true"></i>  Regresar</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div id="content" class="row">

    </div>


</template>

