<template name="SolicitudView">
    <div class="row">
        <div class="col-lg-10">
            <h1 class="page-header">Solicitud Creada</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{#if autorizador}}
                    <button class="btn btn-primary"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Aceptar</button>
                    <button class="btn btn-danger"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> Rechazar</button>
                    {{/if}}
                    Solicitud
                    <span class="text_estado {{estadoObj.estado}}">{{estadoObj.desc}}</span>
                    {{#if esRendirCuenta}}
                    <button class="btn btn-warning"><i class="fa fa-money" aria-hidden="true"></i> Rendir Cuenta</button>
                    {{/if}}
                </div>
                <div class="panel-body">
        <!-- {{> quickForm collection="Solicitudes" id="insertSolicitudForm" type="insert" doc=byDefault}}        -->
        {{#autoForm id="viewSolicitudForm" collection="Solicitudes" type="disabled" doc=byDefault}}

        <div class="row">
            <div class="col-lg-3">
            {{> afQuickField name='num'}}
            </div>
        </div>

        <hr/>

        {{> SolicitudFields}}

        {{/autoForm}}                    
                </div>
                <!-- /.panel-body -->
                <div class="panel-foot">
                    <div class="row">
                        {{#if autorizador}}
                        <div class="col-lg-4">
                            <button class="btn btn-primary"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Aceptar</button>
                            <button class="btn btn-danger"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> Rechazar</button>
                        </div>
                        {{/if}}
                        <div class="col-lg-2">
                            <a class="btn btn-success" href="{{$.Session.get 'pag_ant'}}">
                                <i class="fa fa-hand-o-left" aria-hidden="true"></i>  Regresar</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-10">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <span>Tesorería</span>
                </div>
                <div class="panel-body">
                    <form> {{#with byDefault}}
                        <div class="form-group">

                            <div class="row">
                                <div class="col-lg-3">
                                <label for="editMonto">Monto</label>
                                <input type="text" class="form-control" id="editMonto" value="{{monto}}" disabled>
                                </div>
                                <div class="col-lg-3">
                                <label for="editRecibido">Recibido</label>
                                <input type="text" class="form-control" id="editRecibido" value="{{recibido}}">
                                </div>
                            </div>
                            <div class="row">
                                <div>
                                    <button class="btn btn-primary" type="submit">Enviar</button>
                                </div>
                            </div>

                        </div>
                    {{/with}} </form> 
                    
                </div>
                <!-- /.panel body -->    
            </div>
            <!-- /.panel -->    
        </div>
        <!-- /.col -->    
    </div>
    <!-- /.row -->    
</template>

