<template name="MainLayout">
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">SB Admin 2</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-envelope"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu dropdown-messages">
                    {{#each mensajes}}
                        <li class="message-preview">
                            <a href="/solicitud/{{_id}}">
                                <div class="media">
                                    <span class="pull-left">
                                        <i class="fa {{xicon}}" aria-hidden="true"></i>
                                    </span>
                                    <span class="pull-right">
                                        <i class="icon_estado fa {{xiconestado}}" aria-hidden="true"></i>
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>{{nombre.nombre}}</strong>
                                        </h5>
                                        <p class="text-muted"><i class="fa fa-calendar"></i>{{xfecha}}</p>
                                        <p>{{monto}} {{moneda}}</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    {{/each}}

                        <li class="message-footer">
                            <a href="#">Read All New Messages</a>
                        </li>
                    </ul>
                </li>
                <!--
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li>
                -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{currentUser.name}} <b class="caret"></b></a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="/tabla/usuario/{{currentUser.username}}"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li>
                        <li>
                            <a href="/tabla/pwd/{{currentUser.username}}"><i class="fa fa-fw fa-gear"></i> Cambiar Clave</a>
                        </li>
                        {{#if $eq currentUser.username 'lpezo'}}
                        <li>
                            <a href="/pdf/guide_kitpdf.pdf" download><i class="fa fa-file-pdf-o"></i> Guide Pdf</a>
                        </li>
                        {{/if}}
                        <li class="divider"></li>
                        <li>
                            <a class="logout" href="#" ><i class="fa fa-fw fa-power-off"></i> Salir</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="navbar-default sidebar" role="navigation">
              <div class="sidebar-nav navbar-collapse">
                <ul class="nav navbar-nav side-nav">
                    <!-- <li class="active"> -->
                    <li>
                        <a href="/dashboard"><i class="fa fa-fw fa-dashboard"></i> Listado</a>
                    </li>
                    <li>
                        <a href="/solicitud"><i class="fa fa-fw fa-edit"></i> Solicitud</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Reportes <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="/reporte/planilla">Planilla</a>
                            </li>
                        </ul>
                    </li>
                    <!--
                    <li>
                        <a href="blank-page.html"><i class="fa fa-fw fa-file"></i> Rendir Gasto</a>
                    </li>
                    <li>
                        <a href="index-rtl.html"><i class="fa fa-fw fa-dashboard"></i> Transacciones</a>
                    </li>
                    -->
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo1"><i class="fa fa-fw fa-upload"></i> Importar <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo1" class="collapse">
                            <li>
                                <a href="/importar/clientes">Clientes</a>
                                <a href="/importar/usuarios">Usuarios</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#tablas"><i class="fa fa-fw fa-arrows-v"></i> Tablas <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="tablas" class="collapse">
                            <li>
                                <a href="/tabla/usuarios">Usuarios</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/opciones"><i class="fa fa-fw fa-gear"></i> Opciones</a>
                    </li>
                </ul>
              </div>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                {{> Template.dynamic template=main}}

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery
    <script src="js/jquery.js"></script>
    -->

    <!-- Bootstrap Core JavaScript 
    <script src="js/bootstrap.min.js"></script>
    -->

    <!-- Morris Charts JavaScript
    <script src="js/plugins/morris/raphael.min.js"></script>
    <script src="js/plugins/morris/morris.min.js"></script>
    <script src="js/plugins/morris/morris-data.js"></script>
    -->

</template>